[Unit]
Description=Healthchecks DB container
PartOf=healthchecks.pod

[Container]
ContainerName=healtchecks-db
Pod=healthchecks.pod
Image=registry-1.docker.io/postgres:16
AutoUpdate=registry
UserNS=keep-id
Environment=POSTGRES_DB=postgres
Secret=healthchecksdb-password,type=env,target=POSTGRES_PASSWORD
Volume=%h/volumes/healthchecks_db:/var/lib/postgresql/data
